* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/background.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6%;
}

nav .logo {
  width: 150px;

}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #a80a0a;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.nav-links ul li:hover a {
  color: #a80a0a;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #f5071f;
  border: 1px solid #5908f0;
  padding: 12px 34px;
  font-size: 13px;
  border-radius: 30px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px #f44336;
  background: #f44336;
  color: #fff;
  transition: 1s;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #c8f406;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
}

/* services we offer */
.services {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

h1 {
  font-size: 36px;
  font-weight: 600;

}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;

}

.row {
  margin: 5%;
  display: flex;
  justify-content: space-between;

}

.service-col {
  flex-basis: 30%;
  background: #fff3f3;
  padding: 20px 12px;
  box-sizing: border-box;
  border-radius: 10px;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.service-col:hover {
  box-shadow: 0 0 20px rgba(236, 5, 5, 0.938);
  transition: 0.5s;
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }

  .service-col {
    margin-bottom: 20px;
  }
}


/* designs section */
.designs {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

.design-col {
  flex-basis: 32%;
  margin-bottom: 30px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

}

.design-col img {
  width: 100%;
  display: block;

}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(5, 187, 237, 0.7);
}

.layer h3 {

  font-weight: 500;
  width: 100%;
  font-size: 26px;
  color: #e70f0f;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
  opacity: 0;
}

.layer:hover h3 {
  bottom: 50%;
  opacity: 1;
}


/* facilities section */
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

.facility-col {
  flex-basis: 30%;
  border-radius: 10px;
  margin-bottom: 5%;
}

.facility-col img {
  width: 100%;
  border-radius: 10px;
}

.facility-col p {
  padding: 0;
}

.facility-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

.facility-col:hover {
  box-shadow: 0 0 20px rgba(241, 5, 5, 0.906);
  transition: 0.5s;
}



/* testimonial section */
.testimonials {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

.testimonial-col {
  text-align: left;
  flex-basis: 30%;
  background: #fff3f3;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 5%;
  cursor: pointer;
  display: flex;
}

.testimonial-col img {
  width: 50px;
  margin-left: 5px;
  border-radius: 50%;
  margin-right: 30px;
}

.testimonial-col p {
  padding: 0;
}

.testimonial-col h3 {
  margin-top: 15px;
  text-align: left;
}

.testimonial-col .fa {
  color: #f44336;
}

.testimonial-col:hover {
  box-shadow: 0 0 20px rgba(236, 3, 3, 0.874);
  transition: 0.5s;
}


@media (max-width: 700px) {
  .testimonial-col img {
    margin-left: 0;
    margin-right: 15px;
  }
}

/* contact section */
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(images/Screenshot\ 2025-11-06\ 222211.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 100px 0;
  border-radius: 10px;
}

.cta h1 {
  color: #e20d0d;
  font-size: 36px;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: 20px;
  }
}

/*  footer section */
.footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa {
  color: #a80a0a;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.fa .fa-heart {
  color: red;
}


/* about section */
.about {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

.about .raw {
  display: flex;
  justify-content: space-between;
}

.about-col {
  flex-basis: 30%;
  background: #fff3f3;
  padding: 20px 12px;
  box-sizing: border-box;
  border-radius: 10px;
}

.about-col img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.about-col p {
  padding: 0;
  margin-bottom: 15px;
}

.about-col :hover {
  box-shadow: 0 0 20px rgba(233, 5, 16, 0.884);
  transition: 0.5s;
}

@media (max-width: 700px) {
  .about .raw {
    flex-direction: column;
  }

  .about-col {
    flex-basis: 30%;
    background: #fff3f3;
    padding: 20px 12px;
    box-sizing: border-box;
    border-radius: 10px;
  }
}


/*home section */
.home {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.home .raw {
  display: flex;
  justify-content: space-between;
}

.home-col {
  flex-basis: 30%;
  background: #fff3f3;
  padding: 20px 12px;
  box-sizing: border-box;
  border-radius: 10px;
}

.home-col img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.home-col p {
  padding: 0;
  margin-bottom: 15px;
}

.home-col :hover {
  box-shadow: 0 0 20px rgba(231, 6, 89, 0.881);
  transition: 0.5s;
}

@media (max-width: 700px) {
  .home .raw {
    flex-direction: column;
  }

  .home-col {
    margin-bottom: 20px;
  }
}


/* blog section */
.blog {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.blog .raw {
  display: flex;
  justify-content: space-between;
}

.blog-col {
  flex-basis: 30%;
  flex-basis: 30%;
  background: #fff3f3;
  padding: 20px 12px;
  box-sizing: border-box;
  border-radius: 10px;
}

.blog-col img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.blog-col p {
  padding: 0;
  margin-bottom: 15px;
}

.blog-col :hover {
  box-shadow: 0 0 20px rgba(243, 5, 5, 0.895);
  transition: 0.5s;
}

@media (max-width: 700px) {
  .blog .raw {
    flex-direction: column;
  }

  .blog-col {
    margin-bottom: 20px;
  }
}

/* contact form section */
.contact {
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

.contact-col {
  flex-basis: 30%;
  flex-basis: 30%;
  background: #fff3f3;
  padding: 20px 12px;
  box-sizing: border-box;
  border-radius: 10px;
}

.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-col input[type="submit"],
.contact-col input[type="reset"] {
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

.contact-col input[type="submit"]:hover,
.contact-col input[type="reset"]:hover {
  background-color: #d7372b;
}

.contact-col :hover {
  box-shadow: 0 0 20px rgba(243, 5, 5, 0.895);
  transition: 0.5s;
}


@media (max-width: 700px) {
  .contact .raw {
    flex-direction: column;
  }

  .contact-col {
    margin-bottom: 20px;
  }
}